body, button {
  background-color: #f8f7f6;
  font-family: 'Lacquer', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: grid;
  grid-template-columns: 1;
}
button {
  border: none;
}



.settingsSection {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.grids {
  border: 2px solid orange;
  min-height: 250px;
  min-width: 250px;
  display: grid;
  grid-template-columns: repeat(16, 1fr)
}

.clicked {
  background-color: #2b2d2f;
}



