:root {
  --gridSizeSmall: 250px;
  --gridSizeMedium: 350px;
  --gridSizeLarge: 450px;
  --gridSizeBig: 500px;
}
* { box-sizing: border-box; }

body {
  height: 100vh; 
  width: 100vw;
  overflow: hidden;  
}

body, button {
  background-color: #f8f7f6;
  font-family: 'Lacquer', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left {
  min-width: var(--gridSizeSmall);  
  display: grid;
  grid-template-columns: 0.9fr 1fr;
}
.left > h1 {
  grid-column: 1 / span 2;
  grid-row: 1
}
.left > .size {
  grid-column: 1;
  grid-row: 2 / span 3;
}

.left > .color {
  grid-column: 2;
  grid-row: 2;
}
.left > .delete {
  grid-column: 2;
  grid-row: 3;
}
.left:last-child {
  justify-content: flex-end;
}
h1 {
  text-align: center;
  font-size: 2em;
  margin: 1.5em 0 1.2em;
}

button {
  border: none;
  font-size: 1.2em;
  text-align: left;
  line-height: 120%
}
.settingsSection > p { line-height: 120%;}

.buttons {
  display: flex;
  flex-direction: column;
}
button#rainbowButton {
  display: inline-flex;
}
button#grayBtn { color: #2b2d2f;}
button#reset { color: #F90000;}

.settingsSection {
  display: grid;
  grid-template-columns: 0.6fr 0.8fr;
}

.settingsSection.size {
  grid-template-columns: 0.6fr 0.8fr;
}
.settingsSection.color, .settingsSection.delete {
  grid-template-columns: 0.6fr 1fr;

}
.settingsSection.color {
  margin-bottom: 1em;
}
.grids {
  margin: 4em 0;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  min-height: var(--gridSizeSmall);
  min-width: var(--gridSizeSmall);
  display: grid;
  grid-template-columns: repeat(16, 1fr)
}
footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 1em;
  color: #1FCAE0
}
footer > p > a {
  color: #1FCAE0;
  text-decoration: none;
  -o-transition: color 0.2s linear; /* opera */
  -ms-transition: color 0.2s linear; /* IE 10 */
  -moz-transition: color 0.2s linear; /* Firefox */
  -webkit-transition: color 0.2s linear; /*safari and chrome */
}
footer > p > a:hover {
  color: blue;
  cursor: pointer
}

button:hover {
  transform: translateX(10px);
}

/* js class */
.clicked-button {
  text-decoration: underline;
  text-decoration-color: #1FCAE0;
}

@media (min-width: 700px) {
  .flex {
    flex-direction: row;
    height: 100vh;
  }
  .left {
    gap: 0.5em;
  }
  h1 {
    text-align: left;
    margin: 0 0 1em;
  }
  .settingsSection.size {
    grid-template-columns: 0.6fr 1fr;
  }
  .settingsSection.color {
    margin-bottom: 0;
  }
  .left > h1 {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  .left > .size {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  
  .left > .color {
    grid-column: 1 / span 2;
    grid-row: 3;
  }
  .left > .delete {
    grid-column: 1 / span 2;
    grid-row: 4;
  }
  .grids {
    min-height: var(--gridSizeMedium);
    min-width: var(--gridSizeMedium);
  }
}
@media (min-width: 950px) {
  .flex {
    gap: 2em;
  }
  .left {
    position: relative;
    gap: 0.75em
    
  }
  h1 {
    position: absolute;
    top: -2em;
  }
  .buttons {
    font-size: 1.1em;
  }
  .grids {
    z-index: 1;
    min-height: var(--gridSizeLarge);
    min-width: var(--gridSizeLarge);
  }
}
@media (min-width: 1100px) {
  h1 {
    font-size: 2.2em;
    top: -1.5em
  }
  .grids {
    min-height: var(--gridSizeBig);
    min-width: var(--gridSizeBig);
  }
}